---
# checking if required variables are set

- name: Checking if required variables are set
  fail: msg="{{ item }} is not defined"
  when: not (item is defined)
  with_items:
    - serverspec_extended_types_version
